.carousel {
  position: relative;
  width: 917px;
  padding: 10px 40px;
}

.carousel2 {
  position: relative;
  width: 1000px;
  padding: 10px 40px;
}

.carousel img {
  display: block;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 40%;
  padding: 0;
  background: none;
  height: 55px;
  width: 20px;
  display: block;
}

.arrow:focus {
  outline: none;
}

.prev, .prev2 {
  background: url("../../assets/img/slider/prev.png") 0 0 no-repeat;

  left: 7px;
}

.next , .next2 {
  background: url("../../assets/img/slider/next.png") 0 0 no-repeat;
  right: 7px;
}

.gallery {
  overflow: hidden;
}

.gallery ul {
 
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  /* remove white-space between inline-block'ed li */
  /* http://davidwalsh.name/remove-whitespace-inline-block */

  font-size: 0;
}

.gallery li {
  display: inline-block;
}
.images{
  img{
    margin-left: 20px;
  }
}