@import 'settings';

@media screen and (max-width: 1125px){
  .header, .head__main, .services{
    padding-left: 25px;
    padding-right: 25px;
  }

  .head__dog{
    right: 100px;
  }

  .card{
  	width: 1000px;
  }
  
  .footer{
  padding: 15px 25px 25px 25px;

 }

 .advantages{
  padding: 40px 25px 25px 70px;

 }

 .advantages__list{
  justify-content: space-between;

 }
  .carousel2{
  width: 900px;

 }
 .card{
  width: 900px;

 }
}

 @media screen and (max-width: 1080px){
  
 .reviews{
  padding: 25px 25px 60px 25px;
 	
 }

 .header__nav-item{
  margin-right: 5px;
 }




 }

 @media screen and (max-width: 1000px){
  .header__nav-item,  .header__button{
    font-size: 14px;
  }
  .header__phone{
    font-size: 18.5px;
  }
 .carousel{
  width: 690px;
  	
  }
  .carousel2{
  width: 703px;
  	
  }

  .card{
  width: 703px;

 }

 .advantages__title{
    text-align: center;
  }

  .advantages__list{
    align-items: center;
    flex-direction: column;

  }
  .advantages{
    padding-right: 85px;
    padding-left: 85px;
  }

  .advantage{
    width: 96%;
  }

  .advatage__logo{
    padding-top: 3px;
  }

 .header__nav-item{
  margin-right: 5px;
 }

   .calculator{
  padding: 24px 25px 36px 25px;

  }
  .feedback{
    padding: 70px 25px 30px 25px;
  }

  .header__logo{
  height: 45px;
  width: 175px;
  margin-top: 20px;
}
.foot{
	margin-right: 10px;
 }
}
@media screen and (max-width: 874px){
  
  .head__dog{
    right: 10px;
  }
  .head__form-input{
  	margin-right: 10px;
  }

  .service{
  	padding: 44px 25px 10px 25px;
  }
  .header__nav-item{
  margin-right: 10px;
 }
 

  .employees{
  padding: 40px 25px 70px 25px;

  }


}

@media only screen and (max-width : 768px) {

  #menu{
    visibility: hidden;
    display: none;  
  }
  .header__nav{
  }
  .header__button{
    padding: 4px 6px;
  }
  .head__logo{
    width: 318px;
  }
  .head__dog{
    width: 300px;
    right: -74px;
  }
  .head__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head__description{
    font-size: 14px;
    margin-top: 0;

  }
  .head__form{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .head__form-input{
    width: 70%;
    margin-right: 0;
    margin-bottom: 5px;

  }
  .head__file{
    position: relative;
    top: 0;
    right: 0;
    color: black;   
  }
  .head_button{
    border: 1px solid black;
  }
  .head__form {
    margin-top: 36px;
    a{
    color:  black;
    background: white;
    margin-bottom: 5px;
  }}
  .service__items{
    flex-direction: column;

  }

  .offer__form-top{
    display: flex;

    flex-direction: column;
  }
  .offer__description{
    font-size: 14px;  
  }

  .offer__form-item{
    width: 290px;
    margin-bottom: 5px;
     &:last-child{
    margin-left: 0;
  }
  }
  .offer__form-textarea{
    margin-top: 10px;
  }
  .offer__button{
    margin-top: 10px;

  }

  .employees__title{
    text-align: center;
  }

  .employees__items{
    flex-direction: column;

  }

  .brands__title{
    text-align: center;

  }

  .carousel{
    width: 240px;
  }
  

  .card{
    flex-direction: column;

  }

  .carousel2, .card{
    width: 264px;
  }
  .card__text{
    font-size: 14px;
  }
  .stars{
    width: 180px;
    margin-bottom: 10px;

    
  }
  .card__left{
    align-items: center;

  }
  .feedback{
    flex-direction: column;

  }
  .feedback__text{
    font-size: 14px;
    text-align: center;
  }
  .feedback__form{
    width: 100%;
  }
  .footer{
    padding-left: 5px;
    padding-right: 5px;
  }
  .header__logo{
    width: 142px;
  }
}


