.reviews{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 85px 60px 85px;

}

.reviews__title{
  margin-bottom: 20px;
  font-family: $OpenSans;
  font-size: $bigFontSize;
  font-weight: $font-bold;
  letter-spacing: 2px;

}


.card{
  display: flex;
  width: 1000px;
}

.card__left, .card__right{
  display: flex;
  flex-direction: column;
}
.card__right{
  margin-left: 17px;
}
.card__user{
  margin-bottom: 5px;
}

.card__heading{
  font-family: $OpenSans;
  font-size: $mainFontSize;
  font-weight: $font-bold;
  letter-spacing: 2px;
  
}

.card__text{
  margin-top: 0;
  font-family: $OpenSans;
  font-size: $mainFontSize;
  letter-spacing: 2px;

  a{
    color: #867dfa;
    margin-left: 5px;
    text-decoration: none;
  }
}


